<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{Astro.props.title}</title>
        <style>
            body {
                display: grid;
                place-content: center;
                height: 100vh;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <slot/>
    </body>
</html>