[submodule "packages/node-websocket/withastro/astro"]
	path = packages/node-websocket/withastro/astro
	url = https://github.com/withastro/astro
	branch = main
	shallow = true
	active = false
[submodule "packages/bun-websocket/NuroDev/astro-bun"]
	path = packages/bun-websocket/NuroDev/astro-bun
	url = https://github.com/NuroDev/astro-bun
	branch = main
	shallow = true
	active = false
[submodule "packages/deno-websocket/denoland/deno-astro-adapter"]
	path = packages/deno-websocket/denoland/deno-astro-adapter
	url = https://github.com/denoland/deno-astro-adapter
	branch = main
	shallow = true
	active = false
[submodule "packages/cloudflare-websocket/withastro/astro"]
	path = packages/cloudflare-websocket/withastro/astro
	url = https://github.com/withastro/astro
	branch = main
	shallow = true
	active = false
