---
import { getEntryBySlug } from "astro:content"
import IndirectRenderer from "../components/IndirectRenderer.astro"

const entry = await getEntryBySlug("blog", "promo/launch-week-component")
entry.Component;
entry.addsToHead = true;
---
<html>
	<head>
		<title>Launch Week</title>
	</head>
	<body>
		<IndirectRenderer {entry}/>
	</body>
</html>
