---
import Component from "../components/preact.tsx"
import { signal } from "@preact/signals"
const count = signal(0)
---
<html>
    <head>
        <title>Title</title>
    </head>
    <body>
        <Component {count} client:load/>
    </body>
</html>
